<!doctype html>
<html>
{{>layout/head}}
<body>
    {{>layout/header}}
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                {{>layout/menu}}
            </div>
            <div class="column is-9">
                你好！
            </div>
        </div>
    </div>
    {{>layout/footer}}
</body>
</html>