<!doctype html>
<html>
    {{>layout/head}}
    <body>
        {{>layout/header}}
        <div class="wrapper">
            <div class="columns">
                {{>layout/menu}}
                <main class="column main">
                    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                        <ul>
                            <li><a href="#">首页</a></li>
                            <li class="is-active"><a href="#" aria-current="page">标签管理</a></li>
                        </ul>
                    </nav>
                </main>
            </div>
        </div>
        {{>layout/footer}}
    </body>
</html>