<!doctype html>
<html>
    {{>layout/head}}
    <body>
        {{>layout/header}}
        <div class="wrapper">
            <div class="columns">
                {{>layout/menu}}
                <main class="column main">
                    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                        <ul>
                            <li><a href="#">首页</a></li>
                            <li><a href="#">文章管理</a></li>
                            <li class="is-active"><a href="#" aria-current="page">文章列表</a></li>
                        </ul>
                    </nav>
                    <div class="columns is-multiline">
                        <div class="column">
                            <table class="table is-bordered is-striped is-narrow is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>标题</th>
                                        <th>类目</th>
                                        <th>标签</th>
                                        <th>作者</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#posts}}
                                    <tr>
                                        <th>{{id}}</th>
                                        <td>{{title}}</td>
                                        <td>cat</td>
                                        <td>tag</td>
                                        <td>user</td>
                                    </tr>
                                    {{/posts}}
                                </tbody>
                            </table>
                            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                                {{#hasPre}}
                                    <a class="pagination-previous" href="/admin/post/list?page={{preNum}}">上一页</a>
                                {{/hasPre}}
                                {{#hasNext}}
                                    <a class="pagination-next" href="/admin/post/list?page={{nextNum}}">下一页</a>
                                {{/hasNext}}
                            </nav>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        {{>layout/footer}}
    </body>
</html>