<aside class="column is-2 aside">
    <nav class="menu">
        <p class="menu-label">
            综合
        </p>
        <ul class="menu-list">
            <li><a href="/admin"><span class="icon is-small"><i class="fa fa-tachometer"></i></span> 仪表盘</a></li>
        </ul>
        <p class="menu-label">
            管理
        </p>
        <ul class="menu-list">
            <li>
                <a><i class="fa fa-cog"></i> 文章管理</a>
                <ul>
                    <li><a class="" href="#">文章列表</a></li>
                    <li><a class="" href="#">发表文章</a></li>
                </ul>
            </li>
            <li><a href="/admin/category"><span class="icon is-small"><i class="fa fa-pencil-square-o"></i></span> 类目管理</a></li>
            <li><a href="/admin/tag"><span class="icon is-small"><i class="fa fa-desktop"></i></span> 标签管理</a></li>
            <li><a href="#"><span class="icon is-small"><i class="fa fa-table"></i></span> 评论管理</a></li>
            <li><a href="#"><span class="icon is-small"><i class="fa fa-bar-chart"></i></span> 用户管理</a></li>
        </ul>
    </nav>
</aside>