<!doctype html>
<html>
    {{>layout/head}}
    <body>
        {{>layout/header}}
        <div class="wrapper">
            <div class="columns">
                {{>layout/menu}}
                <main class="column main">
                    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                        <ul>
                            <li><a href="#">首页</a></li>
                            <li class="is-active"><a href="#" aria-current="page">标签管理</a></li>
                        </ul>
                    </nav>
                    <div class="columns is-multiline">
                        <div class="column is-9 is-gapless" id="tag-form">
                            <div class="field has-addons">
                                <div class="control">
                                    <input name="name" id="tag-name" class="input" type="text" placeholder="标签名称"/>
                                </div>
                                <div class="control">
                                    <a class="button is-info" onclick="meta.addTag()">
                                        添加
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <table class="table is-bordered is-striped is-narrow is-fullwidth">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#tags}}
                                    <tr>
                                        <th>{{id}}</th>
                                        <td>{{name}}</td>
                                    </tr>
                                {{/tags}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        {{>layout/footer}}
    </body>
</html>